.post table{
    border-top:2px solid #777;
    border-bottom: 2px solid #777;
    margin: 8px 0;
}
.post table thead{
    border-bottom: 1px dashed #777;
    background-color: #aaa;
    color:#fff;
}
.post table th{
    padding: 2px 10px;
}
.post table tr:nth-child(2n){
    background-color: #E5EAED;
}
.post table td{
    padding: 2px 10px;
    vertical-align: top;
}

/* post
 * post articles area
 */
.post header{
    margin-left: -30px;
    padding-left: 25px;
    border-left: 5px solid #2ca6cb;
    line-height: 1.5;
}
.post header h2{
    color: #2ca6cb;
}
.post header p.post-meta{
    color: #817c7c;
}

.post header p.post-tag a{
    display: inline-block;
    background: #2ca6cb;
    color: #fff;
    padding: 2px 5px 0px 5px;
    border: 1px solid #2ca6cb;
    margin-top: 2px;
}

.post img{
    max-width: 100%;
    vertical-align: middle;

    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
    -o-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}
/**
 * Blockquotes
 */
.post blockquote {
    border-left: 5px solid #D6DBDF;
    background: rgba(112,138,153,.1);
    font-size: 100%;
}
.post blockquote:last-child {
    margin-bottom: 0;
}

.post pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

.post pre code{
    white-space: pre;
}

@media screen and (min-width: 1200px){
    /**
      * 文章目录相关
      */
    .post ul#markdown-toc {
        display: none!important;
    }
}

@media screen and (max-width: 1199px){
    .content-navigation{
        display: none!important;
    }

    .post pre code{
        font-size: 85%;
    }
}

@media screen and (max-width: 991px){
    .post pre code{
        font-size: 70%;
    }
}

@media screen and (max-width: 767px){
    .post header{
        margin-left: -10px;
        padding-left: 5px;
    }
    .post pre code{
        font-size: 55%;
    }
}


.content-navigation a:link {color: #333;text-decoration: none;}		/* 未访问的链接 */
.content-navigation a:visited {color: #99b  }	/* 已访问的链接 */
.content-navigation a:hover {color: #99b;}	/* 鼠标移动到链接上 */
.content-navigation a:active {color: #99b}	/* 选定的链接 */

.content-navigation{
    max-width: 292px;
    padding-left: 30px;
}
.content-navigation-header {
    display: block;
    border-bottom: .1875em solid #ccc;
    font-size: 20px;
    color: #2ca6cb;;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-right: 15px;
}
.content-navigation .content-navigation-list{
    padding: 10px 0;
}

.content-navigation .content-navigation-list ul li{
    line-height: 25px;
    word-break: break-all;
}

.boundary{
   border-bottom: .1875em solid #ccc
}


.clickable-header {
    cursor:pointer;
}
.clickable-header:hover:after {
    content: '\f05c';
    margin-left: 10px;

    font: normal normal normal smaller/1 octicons;
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}