---
layout: default
---

<article class="posts">
  
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
    
    {% if page.language == "English" %}
      <span class="date">
      &nbsp;(字数:{{ page.content | split: " " | size }})
      </span>
    {% elsif page.language == "Chinese" %}   
      <span class="date">
      &nbsp;(字数:{{ page.content | strip_html | strip_newlines | size }})
      </span> 
    {% endif %}
    
  </div>

  

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
  
  {% if page.comments == true %}
    {% include gitalk.html %}
  {% endif %}
</article>

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
        ← Last
      </a>
    </span>
  {% endif %}
  {% if page.next.url %}
    <span class="next" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
        Next →
      </a>
    </span>
  {% endif %}
</div>
